<!DOCTYPE html>
<html>
<head>
  <title>P10take2</title>
  <%=javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&"%>
  <%= stylesheet_link_tag    'application'%>

  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id='map-canvas'>
</div>
  <div id='map-canvas2'></div>
<div id="nav-bar">
  <div class="nav-item" id='spot-list' class='spot'><h1>Spot List</h1></div>
  <div class="nav-item" id='collection-list'><h1>Collections</h1></div>
  <div class="nav-item" id='spot-show'><h1>Spot</h1></div>
</div>
<%= yield %>


</body>
</html>
